.navbar{
    display: flex;
    justify-content: space-between;
    
}
.navbar ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-content: end;
}
.container{
    padding: 15px;
    background-color: antiquewhite;

}    

.container{
   padding:20px;


}
.image{
    object-fit: fill; 
}
.Explore{
    background-color: white;
    background-size: 100px;
    width: 100px;
    height:100px ;
    border-radius: 50%;
    align-items: left;
}.gridContainer {
    display: grid;
    grid-template-columns: 35% 65%;
  }
  
  .intro {
    color: white;
    margin: 150px 40px 0px 60px;
    font-family: 'Heebo';
  }
  
  .text1{
      font-family: 'Heebo', sans-serif;
      color: #A3A7C0;
      font-family:'Heebo';
  }
  
  .text2{
      font-size: 70px;
      font-family: 'Heebo', sans-serif;
      letter-spacing: 12px;
      padding-left: 4px;
      text-transform: uppercase;
  }
  
  .text3{
      font-size: 12px;
      color: #A3A7C0;
      margin-top: 8px;
  }
  
  .exploreDiv{
      display: flex;
      justify-content: center;
      align-items: center;
  
  }
  
  .explore{
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-size: 22px;
      color: #545454;
      background-color: #fff;
      width: 190px;
      height: 190px;
      margin-top: 120px;
  }
