*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100%;
  background-image: url('C:\Users\Admin\Desktop\Jitu\spacehomepage\public\space-tourism-website-main\starter-code\assets\home\background-home-desktop.jpg');
}